body {
  margin: 2em;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
select,
button,
textarea,
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: dodgerblue;
}

input {
  border: 1px #eeeeee solid;
  padding: 0.75em;
  font-size: 1rem;
}

fieldset {
  border: none;
  padding: 0;
  margin: 2em 0;
}
